.container {
  border: 1px solid black;
  height: 100px;
}

.container2 {
  border: 1px solid black;
  height: 50px;
  bottom: 0;
  background-color: lightcoral;
}

button {
  margin-top: 10px;
  margin-left: 10px;
  padding: 5px;
  background-color: lightpink;
  border-radius: 10px;
}

.quote {
  margin: 10px;
  font-weight: 900;
  font-size: x-large;
}

.quote__author {
  margin: 10px;
  color: lightslategray;
}
